{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show data</title>
{% block script %}
<script src="../../static/js/echarts.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
       {#初始化#}
       var myChart = echarts.init(document.getElementById('main'));
       {# 展示加载动画，等加载完成后在隐藏#}
       myChart.showLoading();
           {#初始化类别#}
           var categories = [];
           categories = {{ categories|safe }}
           console.log(categories)
           {#初始化节点#}
           var data = [];
           data = {{ datas|safe }}
              data.forEach(function (node) {
                node.itemStyle = null;
                node.symbolSize = 30;
                node.value = node.symbolSize;
                // Use random x, y
                node.x = node.y = null;
                node.draggable = true;
              });
           console.log((data))
           {#初始化边#}
           var links = [];
           links = {{ links|safe }}
             links.forEach(function (link) {
                link.lineStyle ={
                    width:3,
                    {#type:'dotted',#}
                 };

              });
           console.log(links)
           if(categories.length>0 && data.length>0 && links.length>0){
             {#隐藏加载动画#}
                myChart.hideLoading();
           }
           option = {
               {#标题#}
               title: {
                   text: '课程体系知识图谱',
                   subtext: 'Default layout',
                   top: 'bottom',
                   left: 'right',
                   show: true
               },
               tooltip: {},
               {#图例#}
               legend: [{
                   {#selectedMode: 'single',#} //单选
                   selectedMode: 'multiple', //多选
               }],
               animation: false,
               {#系列，图表类型#}
               series: [
                   {
                       name: '节点',
                       type: 'graph',
                       layout: 'force',
                       focusNodeAdjacency: true,    //相邻节点高亮
                       {#节点填充#}
                       data: data,
                       {#边填充#}
                       links: links,
                       {#类别填充#}
                       categories: categories,
                       roam: true,
                       label: {
                           normal: {
                               show: true, //节点文字显示
                               position: 'right' //显示位置
                           }
                       },
                       force: {
                           repulsion: 500
                       }
                   }
               ]
           };
           // 使用刚指定的配置项和数据显示图表。
           myChart.setOption(option);
   })
    </script>
{% endblock %}
</head>
<body>
{% block navlist %}
    <ul class="nav navbar-nav">
    <li >
        <a href="/course/index/">Home</a>
    </li>
    <li >
        <a href="/course/upload">Upload</a>
    </li>
    <li>
        <a href="/course/files">Files</a>
    </li>
    <li class="active">
        <a href="/course/data/">Data</a>
    </li>
{#    <li>#}
{#        <form action="/course/data" method="get">#}
{#            <input type="text" name="cql">#}
{#            <input type="submit" value="查询">#}
{#        </form>#}
{#    </li>#}
</ul>
{% endblock %}
{% block body %}
<br>
<br>
<center>
     <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 1500px;height:620px;"></div>
</center>
{% endblock %}
</body>
</html>