{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show data</title>
{% block script %}
{#echarts库文件#}
    <script src="../../static/js/echarts.js"></script>

{#    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>#}
{#初始化#}
    <script type="text/javascript">
    $(document).ready(function() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        {#var myChart = echarts.init($("#main"));#}
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });
    </script>
{% endblock %}
</head>
<body>
{% block navlist %}
    <ul class="nav navbar-nav">
    <li >
        <a href="/course/index/">Home</a>
    </li>
    <li >
        <a href="/course/upload">Upload</a>
    </li>
    <li>
        <a href="/course/files">Files</a>
    </li>
    <li class="active">
        <a href="/course/data/">Data</a>
    </li>
    <li>
        <form action="/course/data" method="get">
            <input type="text" name="cql">
            <input type="submit" value="查询">
        </form>
    </li>
</ul>
{% endblock %}
{% block body %}
<br>
<br>
    <form action="/course/data" method="get">
        <input type="text" name="cql">
        <input type="submit" value="查询">
    </form>
     <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>




{% for i in data %}
    <ul>
        <li> {{ i }} </li>
        <li>{{ i.n }}</li>
    </ul>
    {% empty %}
    <h1 style="color: orange">no data or error</h1>
{% endfor %}



{% endblock %}
</body>
</html>